/*----------  bpoa-app style, incl. uib-theming  ----------*/

.ui.top.menu { min-height: 5rem; background-color: #cf3c3a; color: white !important; border: none; border-radius: 0; margin: 0;}
.ui.top.menu .item .small.image { width: 5.5075rem;}
.ui.top.menu .item.brand.uib h1 { letter-spacing: 0.178125rem; font-size: 1.5525rem; font-weight: normal; text-decoration: none; text-transform: uppercase; font-family: "adobe-garamond-pro","Times New Roman",Times,Georgia,"DejaVu Serif",serif !important; }
.ui.top.menu .right.menu a{ font-family: "myriad-pro",Verdana,Tahoma,"DejaVu Sans",sans-serif; font-size: 1.325rem; text-transform: uppercase !important; }
.ui.top.menu * { color: white !important;}
.sub-header-ubb { padding: 3rem 0 3.2rem; margin-bottom: 3rem; font-family: "myriad-pro",Verdana,Tahoma,"DejaVu Sans",sans-serif; background: #eae6e2;}
@media (min-width: 960px) {
  .sub-header-ubb h2 {
    font-size: 3.4125em !important;
  }
}
.pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#content {
  flex: 1;
}
.sub-header-ubb h2 { font-family: "adobe-garamond-pro","Times New Roman",Times,Georgia,"DejaVu Serif",serif !important;
font-weight: normal; font-size: 1.25em; letter-spacing: 0.25rem; text-transform: uppercase; text-align: center; margin: 0 auto; max-width: 72rem; }
.sub-header-ubb h2 a { color: #333; }
.introduction p { font-size: 1.3rem; }
.introduction h1.header { font-size: 3.3rem; }
.accordion > .title { font-size: 2rem !important; color: black !important; }
.open.article p, .hybrid.article p, .book p { font-size: 1.2rem; }
.doaj { float: right; }
.ui.search .input { width: 100%; }
.journal-choice { margin-top: 1rem; }
.journal-choice .segment { width: 100%; display: inline-block; text-align: center; }
.journal-choice h1.ui.header { font-size: 3rem; }
.journal-choice .apc { font-size: 2rem; line-height: 3rem; color: #21BA45; margin-top: 2rem;}
.journal-choice .apc.caveat { font-size: 1rem; color: #ccc; margin: 1rem 0 2rem 0;}
.journal-choice p { font-size: 1.3rem; }
.journal-or-hybrid { margin-top: 3rem !important; font-size: 2rem !important; }
.ui.category.search .results { width: 100%; }
.journal-keywords { margin-bottom: 1rem; }
#hybrid { margin-top: 3rem; }
.large.list .content { padding-top: 0.3rem !important; }
.massive.list .content { padding-top: 0.45rem !important; }
.footer {
  background-color: #dcd5cf !important;
  margin-top: 3rem !important;
  padding: 5rem 0 !important;
  font-family: "myriad-pro",Verdana,Tahoma,"DejaVu Sans",sans-serif;
  font-size: 1.125rem;
  color: black !important;
}
.footer * {
  color: black !important;
}
.footer h4 {
  font-weight: stronger;
  font-size: 1.3rem !important;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .mobile.hidden,
  .tablet.only,
  .small.monitor.only,
  .large.monitor.only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .small.monitor.only,
  .large.monitor.only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .small.monitor.hidden,
  .large.monitor.only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .mobile.only,
  .tablet.only,
  .small.monitor.only,
  .large.monitor.hidden {
    display: none !important;
  }
}